@model ChilliSoftDLL.Models.Item

<div class="media border p-3">
    <img src="~/StalkItem.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
        <h4>@Model.ItemName.<small><i>@Model.Categorey</i></small></h4>
        <p>@Model.Description</p>
    </div>
</div>