@model ChilliSoftDLL.Models.Meeting

<div class="card" style="width:400px">
    <img class="card-img-top" src="~/StalkItem.png" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.Caption</h4>
        <p class="card-text">@Model.StartDateTime</p>
        <p class="card-text">@Model.Type</p>
        <a asp-action="JoinMeeting" asp-controller="Meeting" asp-route-id="@Model.MeetingId">Join Room</a>

    </div>
</div>